<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New materials - module 9</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <h1>Домашнее задание №9</h1>

  <div id="root"></div>

  <audio src="audio/1.wav" data-note="do"></audio>
  <audio src="audio/2.wav" data-note="re"></audio>
  <audio src="audio/3.wav" data-note="mi"></audio>

  <script src="lodash.js"></script>

  <script id="key-tmp" type="text/template">
    <button class="keyboard__btn" data-note="<%- note %>"><%- alphabet[i] %></button>
  </script>

  <script id="keyboard-tmp" type="text/template">
    <div class="keyboard">
      <div>
        <%= makeKeyboardRow(0, 12, 'do') %></div>
      <div>
        <%= makeKeyboardRow(12, 11, 're') %></div>
      <div>
        <%= makeKeyboardRow(23, 10, 'mi') %></div>
      <div>
        <button class="keyboard__space" type="button" name="Space" data-note="mi"></button>
      </div>
      <label>
        Mute sound
        <input type="checkbox">
      </label>
    </div>
  </script>

  <script src="main.js"></script>
</body>
</html>
